<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.0/normalize.css" rel="stylesheet">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.css" rel="stylesheet">
  <link rel="stylesheet" href="style.css" class="style">
  <title>Mongoose Store</title>
</head>
  <body>
    <h1>New Product</h1>
      <form action="/products" method="POST">
      Name: <input type="text" name="name" placeholder="name"><br> 
      Description: <input type="text" name="description"  placeholder="description"><br>
      Img: <input type="file" name="img" placeholder="img"><br>
      Price: <input type="text" name="price" placeholder="price"><br>
      Qty: <input type="text" name="qty"  placeholder="qty"><br>
      <input type="submit" name="submit" id="Add New Product">
      </form>
    <a href="/products">Return to Index</a>
  </body>
</html>